:root {
--cor-primaria: #13114E;
--cor-secundaria: #F4B52E;
--cor-terciaria:#F7F7FF;
--cor-branco: #FFFFFF;

}
@keyframes borda-brilhante {
  0% {
    box-shadow: 0 0 0px 2px red;
  }
  40% {
    box-shadow: 0 0 25px 8px red;
  }
  60% {
    box-shadow: 0 0 35px 12px #ff1a1a;
  }
  100% {
    box-shadow: 0 0 0px 2px red;
  }
}

.brilhar {
  animation: borda-brilhante 1.5s ease-out;
}

*{
font-family: "Plus Jakarta Sans", sans-serif;
}

.cor-de-fundo-principal{
background-color: var(--cor-primaria);

}

.cor-de-fundo-secundaria{
background-color: var(--cor-secundaria);

}

.cor-de-fundo-terciaria{
background-color: var(--cor-terciaria);

}

.cor-texto-azul{
color: var(--cor-primaria);
}

.cor-texto-amarelo{
color: var(--cor-secundaria);
}

.cor-texto-branco{
color: var(--cor-branco);
}

.titulo{
	font-size: 21px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 10px;
}

.texto{
	font-size: 14px;
	text-align: center;
}

.sombra{
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
}

.sombra-interna{
-webkit-box-shadow: 
	inset 0 8px 8px -8px rgba(66, 68, 90, 1),
	inset 0 -8px 8px -8px rgba(66, 68, 90, 1);
-moz-box-shadow: 
	inset 0 8px 8px -8px rgba(66, 68, 90, 1),
	inset 0 -8px 8px -8px rgba(66, 68, 90, 1);
box-shadow: 
	inset 0 8px 8px -8px rgba(66, 68, 90, 1),
	inset 0 -8px 8px -8px rgba(66, 68, 90, 1);
}

.botao-baixar{
	width: 155px;
	height: 60px;
	background-color:var(--cor-secundaria);
	color: var(--cor-branco);
	border: none;
	border-radius: 10px;
	font-size: 24px;
	font-weight: 600;
	padding: 8px;
	margin-bottom: 20px;
}

.secao-chamada1,.secao-planoluz,.secao-comofunciona,.secao-apoioemocional, .secao-beneficios, .secao-tutorial, .secao-avaliacao, .secao-familia{
	padding:30px 5px;
} 

.logo-plano-luz{
	padding-top:30px;
	width: 100%;
	border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.secao-chamada1{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.titulo-secaoch1{
	font-size: 34px;
	font-weight: 600;
	text-align: center;
	margin-bottom: 20px;
}

.texto-secao-chamada1{
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.texto-secao-chamada1 > p {
	margin-bottom: 15px;
	font-size: 18px;
	font-weight: 300;

}

.grupo-botao{
	display: flex;
}

.botao-link-app{
	width: 130px;
	margin: 6px;
	border-radius: 4px;
}

.secao-planoluz{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.titulo-plano-luz{
	font-size: 34px;
	margin-top: 40px;
}

.texto-planoluz{
	width: 280px;
	font-size: 18px;
	text-align: center;

}
.celular {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;

}

.imagem-aplicativo {
  width: 230px; /* ajuste se quiser */
  border-radius:20px;
  border: 5px solid grey;
  animation: flutuar 3s ease-in-out infinite;
}

@keyframes flutuar {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.beneficio{
	width: 320px;
	border-radius: 15px;
	height: 60px;
	margin:15px;
	background-color: ;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	font-size: 18px;
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.1);
}
.beneficio {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
}

.beneficio {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
}

/* Estilo base do ícone */
.beneficio i {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 17px;
}

/* BRASIL */
.beneficio-brasil i {
    background-color: #eafaf1; /* verde claro */
    color: #27ae60;           /* verde forte */
}

/* GRUPO */
.beneficio-grupo i {
    background-color: #ebf5fb; /* azul claro */
    color: #2980b9;            /* azul forte */
}

/* CASA */
.beneficio-casa i {
    background-color: #fef5e7; /* laranja claro */
    color: #e67e22;            /* laranja forte */
}

.secao-tutorial{
	display: flex;
	flex-direction: column;

}
.titulo-secao-tutorial{
	font-size: 30px;
	font-weight: 600;
	text-align: center;
}
.secao-tutorial-passo-a-passo{
	display: flex;
	justify-content:space-around;
	margin-top:30px ;
}

.secao-tutorial-passo{
	width: 90px;
	height: 110px;
	padding: 10px;
	border-radius: 15px;
	font-size: 14px;
	font-weight: 600;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	background-color: var(--cor-branco);
}

.tutorial-textos-botao{
	height: 200px;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.secao-tutorial-texto-motivador{
	font-size: 18px;
	width: 300px;
	text-align: center;

}

.imagem-secao-tutorial{
	width: 50px;
	height: 50px;
}

.secao-beneficios{
	display: flex;
	flex-direction: column;

}

.agrupamento-secao-beneficios{
	display: flex;
	justify-content: space-around;

}

.imagem-secao-beneficios-check{
	width: 14px;
	height: 14px;
	background-color: var(--cor-secundaria);
	margin-right: 4px;
	
}

.lista-beneficios{
	align-self: center;
	font-size: 14px;
	display: flex;
	flex-direction: column;

}

ul li{
	margin-bottom: 10px;
	display: inline-flex;
	align-items: center;
}

.imagem-secao-beneficios{
	width: 160px;
	border-radius: 15px;
    background: linear-gradient(to right, rgba(17,17,17,0.8), rgba(17,17,17,0));
    backdrop-filter: blur(8px); /* desfoca o que está atrás */
    -webkit-backdrop-filter: blur(8px);
}

.secao-avaliacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cabecalho-avaliacao {
    margin-bottom: 20px;
}

.carrossel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    position: relative;
    width: 100%;
}

.setas{
	width: 40px;
	height: 40px;
}

.seta-esquerda{
	margin-left: 10px;
}

.seta-direita{
	margin-right: 10px;
}

.seta-esquerda, .seta-direita {
    width: 40px;
    border: none;
    background-color: var(--cor-secundaria);
    cursor: pointer;
    transition: transform .2s ease, opacity .2s ease;
}

.seta-esquerda{
	transform: rotate(180deg);
}

#avaliacaoBox {
    position: relative;
    overflow: hidden;
    width: 220px;
    height: 220px;
    border-radius: 15px;
    transition: opacity .4s ease;
}

.avaliacao-item {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
    width: 220px;
    height: 200px;
    top: 0;
    left: 0;
    transform: translateX(0);
    transition: transform 0.45s ease, opacity 0.45s ease;
}

.avaliacao-texto{
	width: 210px;
}

.avaliacao-avaliador{
	width: 210px;
}

.slide-in-right {
    transform: translateX(100%);
}

.slide-in-left {
    transform: translateX(-100%);
}

.slide-active {
    opacity: 1;
    transform: translateX(0);
}

.slide-out-left {
    opacity: 0;
    transform: translateX(-100%);
}

.slide-out-right {
    opacity: 0;
    transform: translateX(100%);
}

.secao-avaliacoes-fonte {
    font-size: 16px;
    margin-top: 25px;
}

.secao-familia{
	height: 170px;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
}

.familia-texto-alinhamento{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.secao-familia-titulo{
	width: 160px;
}

.lista-beneficios-familia{
	font-size: 13px;
	width: 180px;
}
.lista-beneficios-familia > li:nth-child(3){
	display: contents;
}

.imagem-secao-familia{
	width: 140px;
	height: 140px;
	border-radius: 20px;
}

.secao-pets{
	padding-top: 15px;
	padding-bottom: 15px;
	display: flex;
    flex-direction: column;
    align-items:center;
}

.secao-pets-titulo{
	width: 380px;
}

.secao-pets-conteudo{
	display: flex;
	justify-content: space-evenly;
}

.secao-pets-texto{
	width: 225px;
	font-size: 12px;

}

.lista-beneficios-pets{
	width: 140px;
}

.lista-beneficios-pets  > li > img {
	margin-right: 5px;
}

.pets-checked{
	width: 25px;
	height: 25px;
	background-color: var(--cor-secundaria);
	border-radius: 4px;
}

.secao-pets-texto, .lista-beneficios-pets{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.imagem-secao-pets{
	width: 140px;
	height: 188px;
	border-radius: 15px;
}

.secao-ultima-chamada{
	display: flex;
	padding-right: 10px;
	margin-bottom: 0px;
}

.imagem-secao-ultima-chamada{
	width: 210px;
	margin-top: 40px;
}

.info{
	display: contents;
}

.posicionamento{
	align-self: center;
	margin-top: 60px;
	margin-left: 25px;
	position: absolute;
}

.secao-botao-posicionamento{
	display: flex;
}

.alinhamento{
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.secao-ultima-chamada-texto{
	margin-top: 10px;
	margin-bottom: 15px;
	font-size: 14px;
	align-self: center;
}

.secao-ultima-chamada-titulo{
	width: 100%;
	position: absolute;
	margin-top: 20px;
}

.texto-footer{
	font-size: 12px;
}

.informacoes-empresa > p{
	margin-top:5px;
	margin-bottom: 10px;
}

.informacoes-empresa{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 25px;
	padding-bottom: 25px;
}
@media(max-width: 360px){
	.secao-tutorial-passo	{
		width: 75px;
		height: 90px;
		font-size: 	10px;
	}
	#avaliacaoBox{
		width:160px;
		height: 260px;
	}
	.avaliacao-item{
		width: 160px;
		height: 260px;
	}
	.avaliacao-texto{
		width: 150px;
	}
	.avaliacao-avaliador{
		width: 150px;
	}
}
@media(min-width: 667px){
.botao-baixar{
	width: 160px;
	height: 50px;
	font-size: 21px;

}

.titulo{
	font-size: 30px;
}

.texto{
	font-size: 18px;

}

.secao-logo{
	display: flex;
	justify-content: center;
}

.logo-plano-luz{
	width: 500px;
}

.secao-chamada1{
    justify-content: space-evenly;
    height: 220px;
}

.grupo-botao{
	display: flex;
    flex-direction: column;

}

.botao-link-app{
	width: 180px;
	margin: 10px;
}

.texto-secao-chamada1{
	width: 280px;
}

.agrupamento-secao-beneficios{
	margin: 10px;
	justify-content: space-evenly;
}

.imagem-secao-beneficios-check{
	width: 30px;
	height: 30px;
	margin-right: 7px;
	
}

.lista-beneficios{
	align-self: center;
	font-size: 21px;
	display: flex;
	flex-direction: column;
}

.imagem-secao-beneficios{
	width: 250px;
}

.secao-tutorial{
	display: flex;
	flex-direction: column;

}

.secao-tutorial-passo-a-passo{
	display: flex;
	justify-content:space-evenly;
	margin-top:30px ;
}

.secao-tutorial-passo{
	width: 165px;
	height: 150px;
	font-size: 18px;

}

.imagem-secao-tutorial{
	width: 80px;
	height: 80px;

}

.secao-tutorial-texto-motivador{
	font-size: 21px;
	width: 420px;

}

#avaliacaoBox{
    width: 320px;
    height: 280px;
}

.avaliacao-item {
    width: 320px;
    height: 280px;

}

.avaliacao-texto{
	font-size: 21px;
}

.avaliacao-avaliador{
	font-size: 23px;
}

.seta-esquerda, .seta-direita {
    width: 60px;
}

.secao-familia{
	justify-content: space-evenly;
	height: 190px;
}

.secao-familia-texto{
	display: flex;
    flex-direction: column;
    align-items: center;
}

.lista-beneficios-familia{
	width: 300px;
	height: 180px;
	font-size: 18px;
}

.imagem-secao-familia{
	width: 200px;
	height: 200px;
}

.secao-pets{
	padding-top: 20px;
	padding-bottom: 20px;
}

.secao-pets-texto{
	width: 340px;
}

.secao-pets-titulo{
	width: 420px;
}

.texto-pets{
	width: 350px;
	font-size: 18px;
}

.lista-beneficios-pets{
	width: 210px;
	font-size: 18px;
}

.imagem-secao-pets{
	width: 200px;
	height: 270px;
}

.secao-ultima-chamada{
	justify-content: space-between;
}

.imagem-secao-ultima-chamada{
	width: 286px;
	height: 270px;
	margin-top: 40px;
}

.posicionamento{
	margin-left: 185px;
}

.secao-ultima-chamada-texto{
	font-size: 18px;
	width: 272px;
	align-self: center;
}

.texto-footer{
	font-size: 17px;
}
}

@media(min-width: 1200px){
	.container{
		display: flex;
		justify-content: center;
	}
	.secao-chamada1, .secao-beneficios, .secao-tutorial, .secao-avaliacao, .secao-familia, .secao-ultima-chamada{
		width: 1200px;
	}
	.botao-baixar:hover{
		cursor: pointer;

	}
.titulo{
	font-size: 38px;
}

.texto{
	font-size: 24px;

}

.logo-plano-luz {
    width: 600px;
}

.texto-secao-chamada1{
	width: 330px;
}

.lista-beneficios{
	font-size: 24px;
}

.imagem-secao-beneficios-check{
	width: 40px;
	height: 40px;
}

.imagem-secao-beneficios{
	width: 300px;
}

.posicionamento{
	margin-left: 327px;
}

.secao-familia{
	height: 250px;
}

.imagem-secao-familia{
	width: 250px;
	height: 250px;
}

.secao-familia-texto{
	width: 450px;
	font-size: 24px;
}

.lista-beneficios-familia{
	width: 350px;
	font-size: 24px;
}

.secao-pets-titulo{
	width: 700px;
}

.secao-pets-conteudo{
	width: 1100px;
}

.texto-pets{
	width: 450px;
	font-size: 24px;
}

.pets-checked{
	width: 35px;
	height: 35px;
	margin-right: 10px;
}

.lista-beneficios-pets{
	width: 350px;
	font-size: 24px;
}

.imagem-secao-pets{
	width: 260px;
	height: 350px;
}
.secao-ultima-chamada{
	justify-content: space-between;
}

.imagem-secao-ultima-chamada{
	margin-top: 60px;
	width: 370px;
	height: 360px;

}

.alinhamento{
	margin-right: 150px;
}

.secao-ultima-chamada-titulo{
	width: 1200px;
	position: absolute;
	margin-top: 20px;
}
.secao-ultima-chamada-texto{
	width: 320px;
	font-size: 21px;
}

}